@model CHomework2.Models.Menu
@{
    Layout = null;
    if (Session["LoginID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MenuMaintenance</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- TableSorter-->
    <script src="~/Scripts/tablesorter.js"></script>
    <!-- Initializing TableSorter-->
    <script>
        $(document).ready(function () {
            $("#myTable").tablesorter();
        });
    </script>
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="p-4 pt-5">
                    <h1><a href="/Home" class="logo">Home</a></h1>
                    <ul class="list-unstyled components mb-5">

                        @foreach (var title in Model.sideNav.User.Role.Menus.Where(m => m.MenuLevel == 1).OrderBy(m => m.MenuNo))
                        {
                            <li class="active">
                                <a href="#m" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@title.LinkName</a>
                                <ul class="collapse list-unstyled" id="m">

                                    @foreach (var menu in Model.sideNav.User.Role.Menus.Where(m => m.MenuLevel == 2 && m.MenuNo.Contains(title.MenuNo)))
                                    {
                                        if (menu.Status == 1)
                                        {
                                            <li>
                                                <a href="@menu.LinkURL">@menu.LinkName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div id="content" class="p-4 p-md-5 pt-5">
                    <h2 class="mb-4">Menu Maintenance</h2>
                    @using (Html.BeginForm("function", "MenuMaintenance", FormMethod.Post))
                    {
                        if (TempData["SelectionMessage"] != null)
                        {
                            <script>
                alert('@TempData["SelectionMessage"]');
                            </script>
                        }
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <td>Menu No.</td>
                                    <td>
                                        <select name="SelectMenuNo">
                                            <option>All</option>
                                            @foreach (var item in Model.ListA)
                                            {
                                                <option> @item.MenuNo</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ttile :</td>
                                    <td>
                                        <select name="SelectMenuName">
                                            <option>All</option>
                                            @foreach (var item in Model.ListA)
                                            {
                                                <option> @item.LinkName</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Link Type: </td>
                                    <td>
                                        <select name="SelectType">
                                            <option>All</option>
                                            <option>Menu</option>
                                            <option>Program</option>
                                        </select>
                                    </td>
                                    <td></td>
                                    <td>Status: </td>
                                    <td>
                                        <select name="SelectStatus">
                                            <option>All</option>
                                            <option>Y</option>
                                            <option>N</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <td><input type="submit" name="button" value="Query" /></td>
                                    <td><input type="submit" name="button" value="Add" /></td>
                                    <td><input type="submit" name="button" value="Modify" /></td>
                                    <td><input type="submit" name="button" value="Delete" onClick="return confirm('Are you sure you want to delete selected data?')" /></td>
                                    <td><input type="submit" name="button" value="Download" onClick="GetTableValues()"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table" id="myTable">
                                <thead>
                                    <tr>
                                        <td><input type="checkbox" name="checkAll" onclick="toggle(this)"></td>
                                        <th> Menu No.</th>
                                        <th> Level</th>
                                        <th> Status</th>
                                        <th> Link type</th>
                                        <th> Link URL</th>
                                        <th> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListC)
                                    {

                                        <tr>
                                            <td><input type="checkbox" name="checkbox" value=@item.MenuNo.ToString()></td>
                                            <td>@item.MenuNo</td>
                                            <td>@item.MenuLevel</td>
                                            <td>@item.LinkName</td>
                                            <td>@item.LinkType</td>
                                            <td>@item.LinkURL</td>
                                            @if (@item.Status == 0)
                                            {
                                                <td>N</td> }
                                            else
                                            {
                                                <td>Y</td>}
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <input type="hidden" name="MenuJSON" />
                    }
                    <div class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        function toggle(source) {
            checkboxes = document.getElementsByName('checkbox');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        function GetTableValues() {
            //Create an Array to hold the Table values.
            var menus = new Array();
            //Reference the Table.
            var table = document.getElementById("myTable");
            //Loop through Table Rows.
            for (var i = 1; i < table.rows.length; i++) {
                //Reference the Table Row.
                var row = table.rows[i];
                //Copy values from Table Cell to JSON object.
                var menu = {};
                menu.MenuNo = row.cells[1].innerHTML;
                menu.MenuLevel = row.cells[2].innerHTML;
                menu.LinkName = row.cells[3].innerHTML;
                menu.LinkType = row.cells[4].innerHTML;
                menu.LinkURL = row.cells[5].innerHTML;
                menu.Status = row.cells[6].innerHTML;
                menus.push(menu);
            }
            //Convert the JSON object to string and assign to Hidden Field.
            document.getElementsByName("MenuJSON")[0].value = JSON.stringify(menus);
        }
    </script>
    <script src="~/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>