@model CHomework2.Models.User
@{
    Layout = null;
    if (Session["LoginID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UserMaintenance</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- TableSorter-->
    <script src="~/Scripts/tablesorter.js"></script>
    <!-- Initializing TableSorter-->
    <script>
        $(document).ready(function () {
            $("#myTable").tablesorter();
        });
    </script>
    <script src="~/Themes/ckeditor/ckeditor.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="p-4 pt-5">
                    <h1><a href="/Home" class="logo">Home</a></h1>
                    <ul class="list-unstyled components mb-5">

                        @foreach (var title in Model.sideNav.User.Role.Menus.Where(m => m.MenuLevel == 1).OrderBy(m => m.MenuNo))
                        {
                            <li class="active">
                                <a href="#m" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@title.LinkName</a>
                                <ul class="collapse list-unstyled" id="m">

                                    @foreach (var menu in Model.sideNav.User.Role.Menus.Where(m => m.MenuLevel == 2 && m.MenuNo.Contains(title.MenuNo)))
                                    {
                                        if (menu.Status == 1)
                                        {
                                            <li>
                                                <a href="@menu.LinkURL">@menu.LinkName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div id="content" class="p-4 p-md-5 pt-5">
                    <h2>User Maintenance</h2>
                    @using (Html.BeginForm("Modify", "UserMaintenance", FormMethod.Post))
                    {
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <td>@Html.LabelFor(model => model.UserName)</td>
                                    <td><input name="userName" value="@Model.ListB.First().UserName" /></td>
                                    <td><input type="hidden" name="userID" value="@Model.ListB.First().UserID" /></td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>
                                        <select name="SelectRole">
                                            <option>@Model.ListB.First().Role.RoleName</option>
                                            @foreach (var item in Model.ListA)
                                            {
                                                if (@item.RoleName != Model.ListB.First().Role.RoleName)
                                                {
                                                    <option> @item.RoleName</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>Status: </td>
                                    <td>
                                        <select name="SelectStatus">
                                            @if (@Model.ListB.First().Status == 0)
                                            {
                                                <option>N</option>
                                                <option>Y</option>
                                            }
                                            else
                                            {
                                                <option>Y</option>
                                                <option>N</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table>
                                <td>
                                    <input type="submit" name="name" value="Save" />
                                    <input type="button" value="Back" onclick="history.back()">
                                </td>
                            </table>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>

    <script src="~/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>